.cell-content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
	max-width: 200px;
}

.cell-content p {
	margin: 0;
}

.row-action {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@media (max-width: 600px) {
	.cell-content {
		max-width: 60px;
	}

	.cell-content p {
		font-size: 15px;
		margin: 0;
	}

	.row-action {
		display: flex !important;
		align-items: center;
		justify-content: flex-start;
	}
}
